    @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;1,700&display=swap');
    body {
        margin: 0px;
        padding: 0px;
        font-family: Arial, Helvetica, sans-serif;
        overflow-x: hidden;
    }
    
    #header {
        background-color: #F16F51;
        height: 40px;
        text-align: center;
        line-height: 40px;
    }
    
    h1 {
        vertical-align: middle;
        color: white;
        font-weight: bold;
        margin-top: 0px;
    }
    
    .row {
        margin: 20px 20px;
        box-shadow: 0 50px 40px -14px rgb(0 0 0 / 25%);
    }
    
    #results {
        margin-top: 100px;
        margin-right: 300px;
        margin-bottom: 100px;
        margin-left: 300px;
    }
    
    .person-row {
        margin: 10px 0px;
        padding: 10px;
        background-color: #fdb45c;
        width: 100%;
        float: left;
    }
    
    .person-row:hover {
        box-shadow: 0 50px 40px -14px rgb(0 0 0 / 25%);
    }
    
    .person-row img {
        float: left;
        margin-right: 20px;
    }
    
    .personal-info {
        float: left;
        margin-top: 15px;
        font-family: 'Lato', sans-serif;
        color: white;
        font-weight: 700;
        font-size: 18px;
    }
    
    .person-row>button {
        float: right;
        margin-top: 50px;
        cursor: pointer;
    }
    
    .img-responsive {
        max-width: 100%;
        width: 80px;
        height: auto;
    }
    
    .main {
        position: relative;
    }
    
    .banner {
        width: 100vw;
        height: 95vh;
        background-color: rgb(10 134 144);
    }
    
    #row {
        position: absolute;
        background-color: white;
        top: 120px;
        left: 90px;
        height: 65%;
        border-radius: 20px;
        box-shadow: 0 50px 40px -14px rgb(0 0 0 / 25%);
    }
    
    input,
    select,
    button {
        padding: 8px;
    }
    
    #searchBtn {
        margin-top: 35px;
        width: 100%;
        background-color: #F16F51;
        color: white;
        font-size: 20px;
        font-weight: bold;
    }
    
    #searchBtn:hover {
        cursor: pointer;
        background-color: orange;
    }
    
    select {
        margin-top: 18px;
    }
    
    #labelGender {
        margin-left: 20px;
    }
    
    h3 {
        text-align: center;
    }
    
    h3>span {
        display: inline-block;
        margin-top: 5px;
        border-bottom: 1px solid #ddd;
        letter-spacing: 1.4px;
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        font-weight: bold;
    }
    
    .decofont {
        font-size: 34px;
        font-style: italic;
        text-transform: none;
        font-weight: 400;
        color: #ed6058;
    }
    /*gallery*/
    
    .slide {
        width: 1920px;
        height: 700px;
        overflow: hidden;
        position: absolute;
        top: 40px;
        left: -200px;
        background-color: rgb(147, 185, 185);
    }
    
    .slide>div {
        width: 100%;
        height: 100%;
        background-size: cover;
        position: absolute;
        animation: slide 25s infinite;
        opacity: 0;
    }
    
    .slide>div:nth-child(2) {
        animation-delay: 5s;
    }
    
    .slide>div:nth-child(3) {
        animation-delay: 10s;
    }
    
    .slide>div:nth-child(4) {
        animation-delay: 15s;
    }
    
    .slide>div:nth-child(5) {
        animation-delay: 20s;
    }
    
    @keyframes slide {
        10% {
            opacity: 1;
        }
        20% {
            opacity: 1;
        }
        30% {
            opacity: 0;
        }
        40% {
            transform: scale(1.1);
        }
    }